@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" data-event-name="read-intro" data-event-text="uncaught event bubbled up">
    <div class="col-md-4">
        <h2>Tracking Clicks</h2>
        <p  data-event-name="basic-action" data-event-text="clicked on the intro">
            If somebody clicks on a tagged item then we get data from that.
        </p>
        <p>But, if they click on something that isn't tagged then the event bubbles up</p>
    </div>
    <div class="col-md-4">
        <h2>Getting Data</h2>
        <p>A lot of times menus have similar items. Since we don't want all the information to be lost from the original item we can access that origianl target in the javascript event object</p>
        <p>If an item was a bubbled up event then we should also append something (probably) unique. Let's use the text of that clicked item. If there is no text then let's fall back on the ID of the DOM element. If there is no ID then we can pass along the CSS classes... it's better than nothing</p>
        <p><a class="btn btn-default" href="https://bing.com">Bing</a></p>
        <p><a class="btn btn-default" href="https://duckduckgocom">Duck Duck Go</a></p>
        <p id="anEmptyParagraphTag"></p>
    </div>
    <div class="col-md-4">
        <h2>Other thing</h2>
    </div>
    <p class="thing" data-event-name="bob" data-event-text="we clicked on the mainline event">clicking on an item should give us info</p>
    <div data-event-name="in the box" data-event-text="uncaught event in the box">
        <p class="thing">clicking a thing inside the box</p>
    </div>
</div>